@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}


:root {
    --theme-color: #ff5835;
    --bg-orange: #db6534;
    --black-color: #1a0500;
    --text-color: #353535;

    --black-hover: #4b4b4b;

    --price-yellow: #fbc02d;
    --price-dark-yellow: #d49c0e;
    --promotion-red: #dc143c;
}
